.form-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-signin form {
    width: 300px;
    flex-shrink: 0;
}

.form-signin form > * + * {
    margin-top: 16px;
}

.nav-link {
    color: #212529;
}

.nav-link.active {
    background-color: rgb(108,117,125)!important;
}

.dashboard {
    height: 100vh;
    overflow-y: scroll;
}